* {
	margin: 0;
	padding: 0;
	word-break: break-all
}
body {
	font-family: Arial;
	font-size: 12px;
	color: #444;
	line-height: 1.6em
}
h1 {
	line-height: 1.3em
}
a: hover img,
img {
	border: 0;
	outline: 0
}
ul {
	list-style: none
}
input,
button,
select,
textarea {
	outline: 0;
	font-family: Arial,
	"瀹嬩綋";
	font-size: 14px
}
table input,
table button,
table select,
table textarea {
	vertical-align: middle
}
textarea {
	resize: none
}

table {
	border-collapse: collapse
}
iframe {
	width: 100 % ;
	border: 0
}
a {
	text-decoration: none;
	color: #444;
	outline: 0
}
a: hover {
	text-decoration: underline;
	color: #f60
}.clear_div {
	overflow: hidden;
	zoom: 1
}.clear_div2 {
	zoom: 1
}.clear_div2: after {
	content: "";
	display: block;
	height: 0;
	clear: both
}
input.checlass {
	margin: 0 5px;
	margin-left: 0;
	vertical-align: middle;
	_vertical-align: baseline
}.city_select {
	line-height: 24px;
	height: 24px;
	vertical-align: middle;
	color: #666
}
div.h_one {
	clear: both;
	margin: 8px 0
}.th {
	font-family: "寰蒋闆呴粦"
}.date {
	float: right;
	font-size: 12px;
	color: #999;
	font-weight: normal
}.float_l {
	float: left
}.float_r {
	float: right
}.margin_text {
	margin: 0 10px
}.margin_l {
	margin-left: 10px
}.margin_r {
	margin-right: 10px
}.china {
	font-family: "瀹嬩綋"
}.red_tishi {
	color: red;
	font-family: "瀹嬩綋";
	font-size: 12px;
	margin: 0 5px;
	font-weight: normal
}.margin_link a {
	margin: 0 6px
}.margin_link {
	color: #ccc
}.orange_r {
	float: right;
	font-weight: bold;
	color: #f60
}.orange_b {
	color: #f60;
	font-weight: bold
}.font_12 {
	font-size: 12px;
	font-weight: normal
}.blue_link a,
.blue_text {
	color: #0771bc
}.blue_link a: hover {
	color: #f60
}.font_b {
	font-weight: bold
}.link_line a {
	text-decoration: underline
}.link_line a: hover {
	text-decoration: none
}.green_link a,
.green_text,
.blue_link.green_a {
	color: #090
}.green_link a: hover,
.blue_link.green_a: hover {
	color: #f60
}.green_big {
	font-size: 28px;
	color: #090
}.green_b {
	color: #090;
	font-weight: bold
}.red_b {
	color: #c00;
	font-weight: bold
}.red_big {
	font-size: 28px;
	color: #c00
}.red_text {
	color: #c00
}.font_16 {
	font-size: 16px;
	font-weight: bold
}.gray_text {
	color: #999
}.orange_text,
.blue_link.orange_a,
.orange_link a {
	color: #f60
}.blue_link.orange_a: hover,
.orange_link a: hover {
	color: #cc00000
}.orange_big {
	font-size: 28px;
	color: #f60
}.gray_link a {
	color: #444
}.gray_link a: hover {
	color: #f60
}.yellow_bj {
	border: 1px solid#fedb7d;
	background: #fffdee
}.blue_bj {
	border: 1px solid#cceaf9;
	background: #f4fbff
}.blue_bj2 {
	background: #f4fbff
}.gray_bj2 {
	background: #f1f1f1
}.gray_bj {
	border: 1px solid#dadada;
	background: #f5f5f5
}.gray_border {
	background: #fff;
	border: 1px solid#dadada
}.none,
.hide {
	display: none
}.sub_tip {
	text-align: center;
	color: #f30b3a;
	font-size: 13px
}.sub_tip_ing {
	text-align: center;
	color: #0e9d2e;
	font-size: 13px
}.input_120 {
	width: 120px;
	height: 20px;
	border: 1px solid#b3e5f7
}.word_light {
	color: #ee4000
}